@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/*body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

body {
  background-color: #f9f9f9;
}

/* TODO: Evaluar si todo esto es necesario */
@layer components {
  /* Home */
  .Home__list-item {
    @apply -tracking-[0.005em] my-12;
  }

  /* Sidebar */
  .Sidebar {
    @apply bg-primary h-full w-[10%] flex flex-col justify-between items-center pb-8 pt-4 px-2;
  }

  .Sidebar__element {
    @apply text-center text-black;
  }

  .Sidebar__interactive-button {
    @apply rounded-full px-4 py-2 bg-black text-white mx-auto;
  }

  /* Documents */
  .Documents {
    @apply p-4;
  }

  .Documents__title {
    @apply text-2xl font-bold mb-2;
  }

  .Documents__subtitle {
    @apply text-xl font-medium;
  }

  .Documents__search {
    @apply rounded-full border border-black px-4 py-1 mb-6;
  }

  .full-screen {
    @apply w-full h-screen max-h-screen max-w-[100vw];
  }

  .centered-relative {
    @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .no-focus-outline {
<<<<<<< HEAD
    @apply focus:outline-none focus:ring-0 focus-visible:outline-none focus-visible:ring-0;
=======
    @apply focus:border-none focus:outline-none focus:ring-0 focus-visible:border-none focus-visible:outline-none focus-visible:ring-0;
>>>>>>> 0a3ce63c1fe77d4775b85272bcfe24da10d956ba
  }
}
